@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body{
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Archivo Black', sans-serif;
}

header{
    top: 0;
    transition: 0.5s;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
    background: #2E2D2D;
}

header img{
    transition: 0.5s;
    margin-left: 18px;
    left: 0;
    width: 49px;
    height: 49px;
}

header ul{
    transition: 0.5s;
    right: 0;
    position: absolute;
    list-style-type: none;
    color: white;
    display: block;
}

header ul li{
    transition: 0.5s;
    cursor: default;
    margin-left: 15px;
    margin-right: 41px;
    font-size: 25px;
    display: inline;
    margin-top: 21px;
}

header ul li:hover{
    transition: 0.5s;
    color: #FF00A1;
}

#strip{
    /* box-shadow: #0000003b 10px 10px 10px; */
    user-select: none;
    transition: 0.5s;
    width: 200px;
    height: 600px;
    position: absolute;
    top: 0;
    margin-left: 50px;
}

#title{
    color: #2E2D2D;
    transition: 0.5s;
    text-shadow: #0000003b 10px 10px 20px;
    font-size: 30pt;
    position: absolute;
    margin-left: 300px;
    top: 50%;
    transform: translateY(-50%);
}

#title h1:first-child{
    transition: 0.5s;
    transform: translateY(-120%);
    position: absolute;
    margin-bottom: 0;
    padding: 0;
}
#title:hover h1:last-child{
    transition: 0.5s;
    transform: translateX(-0.1%);
    color: #FF00A1;
}

#title h1:last-child{
    transition: 0.5s;
    position: absolute;
    padding: 0;
    margin-top: 0;
    transform: translateX(35%);
}

#pen_section{
    transition: 0.5s;
    align-items: center;
    margin-right: 600px;
    position: absolute;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
}

#pen_bg{
    user-select: none;
    transition: 0.5s;
    position: absolute;
    z-index: 1;
    width: 500px;
    height: 500px;
}

#pen{
    user-select: none;
    transition: 0.5s;
    transform: translateX(5%) translateY(-10%);
    position: absolute;
    z-index: 2;
    widows: 100px;
    height: 600px;
}

button{
    border: none;
    outline: none;
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.5em;
    text-shadow: #0000003b 10px 10px 20px;
    cursor: default;
    transition: 0.5s;
    left: 0;
    top: 70%;
    transform: translateX(10%);
    margin-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 77px;
    position: absolute;
    text-align: center;
    width: 300px;
    height: 80px;
    color: white;
    background: linear-gradient(to bottom, #FF00A1, #800051);
}
button:hover{
    transition: 0.5s;
    font-size: 2em;
    background: white;
    color: #FF00A1;
    border: 3px solid #FF00A1;
}

p{
    text-shadow: #0000003b 10px 10px 20px;
    transition: 0.5s;
    font-family: 'Gochi Hand', cursive;
    display: block;
    font-size: 2em;
    position: absolute;
    top: 50%;
    margin-bottom: 150px;
    right: 0;
    transform: translateX(-70%) translateY(150%);
    text-align: right;
}

@media screen and (max-width: 1260px){

    #title:hover h1:last-child{
        transition: 0.5s;
        color: #FF00A1;
    }
    
    #title h1:last-child{
        transition: 0.5s;
        position: absolute;
        padding: 0;
        margin-top: 0;
        transform: translateX(0%);
    }

    button{
        border: none;
        outline: none;
        font-family: 'Archivo Black', sans-serif;
        font-size: 1.5em;
        text-shadow: #0000003b 10px 10px 20px;
        cursor: default;
        transition: 0.5s;
        left: 0;
        top: 70%;
        transform: translateX(0%);
        margin-left: 275px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 77px;
        position: absolute;
        text-align: center;
        width: 300px;
        height: 80px;
        color: white;
        background: linear-gradient(to bottom, #FF00A1, #800051);
    }

}

@media  screen and (max-width: 1190px){

    #strip{
        height: 100px;
        left: 0px;
        margin-left: 0;
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #title{
        justify-content: center;
        align-items: center;
    }

    #pen_section{
        left: 0;
        margin-left: 25px;
    }

    p{
        left: 0;
        margin-left: 200px;
    }

    #title{
        top: 0;
        margin-top: 300px;
    }

    button{
        left: 51%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 900px){

    body{
        display: block;
        align-items: center;
    }


    #pen_section, #pen, #pen_bg{
        transition: 0s;
        visibility: hidden;
    }

    #title{
        margin: 50px;
        margin-top: 300px;
        transform: translateY(50%);
        display: block;
    }

    button{
        margin: 50px;
        margin-top: 300px;
        transform: translateY(-300%) translateX(-65%);
        display: block;
    }

    p{
        margin: 50px;
        margin-top: 300px;
        transform: translateY(-510%);
        display: block;
    }

}

@media screen and (max-width: 600px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #title{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p{
        top: 60%;
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button{
        position: fixed;
    }

    #strip{
        position: fixed;
    }

    header{
        position: fixed;
    }
}

@media screen and (max-height: 90%){
    #title{
        color: white;
    }
}